/*
 *	css per i bottoni
 */
#button {
	-fx-background-color: #bbcbda;
	-fx-border-radius: 70px;
	-fx-background-radius: 70px;
}

/*
 *	css per i bottoni quando si passa sopra con il mouse
 */
#button:hover {
	-fx-background-color: #bbcbda;
	-fx-background-radius: 70px;
	-fx-scale-x: 1.1;/*Aumento di dimensione*/
	-fx-scale-y: 1.1;/*Aumento di dimensione*/
}

/*
 *	css per i bottoni che vengono selezionati
 */
#button:focused {
	-fx-scale-x: 1;
	-fx-scale-y: 1;
	-fx-border-color: #d2e0e8;
	-fx-border-radius: 70px;
	-fx-border-width:2px;
	-fx-effect: dropshadow(gaussian, #d2e0e8, 10, 0.5, 0, 0);/*ombra*/
}

/*
 * Nuovo stile per il bottone selezionato, la classe
 * deve essere imposta al bottone selezionato in modo dinamico
 */
.tool-button.selected {
	-fx-scale-x: 1;
	-fx-scale-y: 1;
	-fx-border-color: #d2e0e8;
	-fx-border-radius: 70px;
	-fx-border-width: 2px;
	-fx-effect: dropshadow(gaussian, #d2e0e8, 10, 0.5, 0, 0);
}

/*
 *	css per la barra degli strumenti
 */
#barra {
	-fx-background-color: #bbcbda;
	-fx-background-radius: 30px;
	-fx-border-radius: 30px;
	-fx-border-color:transparent;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 16, 0.4, 0, 3);/*ombra*/
}
/*
 * css per la toolBar che mostra le azioni di modifica delle figure
 */
#toolBar{
	-fx-background-color: #bbcbda;
	-fx-border-color:transparent;
	/*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 16, 0.4, 0, 16);/*ombra*/
}

/*
 *	css per il contenitore del canvas, in modo da far capire fino a dove arriva il canvas
 */
#canvaContainer {
	-fx-background-color: #ffffff;
}

#fileBar {
	-fx-background-color: #7099b3;
}