/*
 *	css per i bottoni
 */
#button {
	-fx-background-radius: 10px;
	-fx-background-color: #FAF7F2;
	-fx-border-radius: 8px;
	-fx-cursor: hand;
	-fx-transition: all 0.3s ease-in-out; /*transizione*/
	-fx-effect: dropshadow(gaussian, #000000, 15, 0, 0, 4); /*ombra*/
}

/*
 *	css per i bottoni quando si passa sopra con il mouse
 */
#button:hover {
	-fx-background-color: #E0E0E0;
	-fx-scale-x: 1.1;/*Aumento di dimensione*/
	-fx-scale-y: 1.1;/*Aumento di dimensione*/
	-fx-effect: dropshadow(gaussian, #000000, 15, 0, 0, 4);/*ombra*/
}

/*
 *	css per i bottoni che vengono selezionati
 */
#button:focused {
	-fx-scale-x: 1;
	-fx-scale-y: 1;
	-fx-border-color: #4A90E2;
	-fx-border-width:2px;
	/*-fx-effect: dropshadow(gaussian, #4A90E2, 10, 0.5, 0, 0);/*ombra*/
}

/*
 *	css per la barra degli strumenti
 */
#barra {
	-fx-background-color: #FAF7F2;
	-fx-background-radius: 30px;
	-fx-border-radius: 30px;
	-fx-border-color:transparent;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 16, 0.4, 0, 3);/*ombra*/
}

/*
 *	css per il contenitore del canvas, in modo da far capire fino a dove arriva il canvas
 */
#canvaContainer {
	-fx-background-color: #FAF7F2;
}